---
import { Image } from "astro:assets";
import Title from "../../../components/title.astro";
import decorImg from "../../../assets/images/decor/culture.webp";
---

<section aria-labelledby="culture-title">
  <Title title="h3" id="culture-title">
    Топ-менеджеры — о культуре в команде
    <Image slot="image" src={decorImg} width="145" height="145" alt="" />
  </Title>
</section>
