---
import Title from "../../../components/title.astro";
---

<section aria-labelledby="culture-title">
  <Title title="h3" id="culture-title">
    Топ-менеджеры — о культуре в команде
  </Title>
</section>
