---
import Title from "../../../components/title.astro";
---

<section aria-labelledby="group-title">
  <Title title="h3" id="group-title">
    Как мы усиливаем друг друга внутри бизнес-группы
  </Title>
</section>
