---
import Title from "../../../components/title.astro";
---

<section aria-labelledby="more-than-title">
  <Title title="h3" id="more-than-title">
    Команда — это больше, чем про работу
  </Title>
</section>
