*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  color: var(--color-text-primary);
  background-color: var(--color-primary);
}

:root {
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
  line-height: 110%;
  font-weight: 400;
  font-size: 20px;
  font-family: var(--font-primary), sans-serif;
  font-synthesis: none;
  color-scheme: dark;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100dvh;

  &:has(*:popover-open) {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

:is(button, button:focus) {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.swiper {
  overflow: hidden;
  width: 100%;
}
