---
import { Image } from "astro:assets";
import Title from "../../../components/title.astro";
import decorImg from "../../../assets/images/decor/culture.webp";
---

<div>
  <Title id="team-title">
    Главное — люди
    <Image slot="image" src={decorImg} width="134" height="135" alt="" />
  </Title>
</div>
