---
import Head from "../components/head.astro";
import "../styles/_main.css";
---

<html lang="ru">
  <Head />

  <body>
    <h1 style="margin: 0">Astro</h1>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
    </div>
  </body>
</html>

<style>
  .swiper {
    width: 50%;
    border: 2px dashed yellow;

    .swiper-slide {
      padding: 40px;
    }
  }
</style>

<script src="../scripts/_app.js"></script>
