---
import "../styles/_main.css";

import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import Hero from "../blocks/1-business/hero/index.astro";
import Products from "../blocks/1-business/products/index.astro";
import Group from "../blocks/1-business/group/index.astro";

import People from "../blocks/2-team/people/index.astro";
import Culture from "../blocks/2-team/culture/index.astro";
import MoreThan from "../blocks/2-team/more-than/index.astro";

import Useful from "../blocks/3-useful/index.astro";
---

<html lang="ru">
  <Head />

  <body>
    <Header />

    <main>
      <Hero />
      <Products />
      <Group />

      <People />
      <Culture />
      <MoreThan />

      <Useful />
    </main>

    <Footer />

    <script src="../scripts/_app.js"></script>
  </body>
</html>
