---
import "../styles/_main.css";

import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import Hero from "../blocks/business/hero/index.astro";
import Products from "../blocks/business/products/index.astro";
import Group from "../blocks/business/group/index.astro";

import People from "../blocks/team/people/index.astro";
import Culture from "../blocks/team/culture/index.astro";
import MoreThan from "../blocks/team/more-than/index.astro";

import Useful from "../blocks/useful/index.astro";
---

<html lang="ru">
  <Head />

  <body id="top">
    <Header />

    <main>
      <section
        id="business-group"
        class="business-group"
        aria-labelledby="business-title"
      >
        <Hero />
        <Products />
        <Group />
      </section>

      <section id="team" aria-labelledby="team-title">
        <People />
        <Culture />
        <MoreThan />
      </section>

      <div class="bottom">
        <section id="useful" aria-labelledby="useful-title">
          <Useful />
        </section>

        <Footer />
      </div>
    </main>

    <script src="../scripts/_app.ts"></script>
  </body>
</html>

<style>
  body {
    background: linear-gradient(180deg, #01040b 55.44%, #0a2971 85.25%);
  }

  .business-group {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .bottom {
    position: relative;
    overflow: hidden;
    isolation: isolate;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 200%;
      height: 900px;
      bottom: -20%;
      left: 50%;
      transform: translate(-50%);
      background-color: #000000;
      filter: blur(90px);
      pointer-events: none;
    }

    & > section {
      position: relative;
      z-index: 1;
    }
  }
</style>
