---
import { navigation } from "../data/navigation.ts";
---

<footer class="footer">
  <div class="footer__content">
    <nav class="footer__nav" aria-label="Навигация в подвале">
      <ul>
        {
          navigation.map(({ label, href }) => (
            <li>
              <a href={`#${href}`}>{label}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>

<style>
  .footer {
    position: relative;
    z-index: 1;
    padding: 60px var(--space16) var(--space40);

    /* desktop */
    @media (width >= 960px) {
      padding-top: 190px;
    }

    & .footer__content {
      max-width: 430px;
      width: 100%;
      margin-inline: auto;

      /* widescreen */
      @media (width >= 1200px) {
        max-width: 550px;
      }
    }

    & .footer__nav {
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          font-family: var(--font-secondary), sans-serif;
          font-size: 12px;
          text-transform: lowercase;
          color: rgb(255 255 255 / 50%);
          transition: color var(--transition);

          /* desktop */
          @media (width >= 960px) {
            font-size: 14px;
          }

          &:hover {
            color: var(--color-text-primary);
          }
        }
      }
    }
  }
</style>
