---
import { navigation } from "../data/navigation.ts";
---

<footer>
  <nav aria-label="Навигация в подвале">
    <ul class="footer">
      {
        navigation.map(({ label, href }) => (
          <li>
            <a href={`#${href}`}>{label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>

<style>
  .footer {
    list-style: none;
  }
</style>
