---
import { navigation } from "../data/navigation.ts";
---

<header>
  <nav aria-label="Основная навигация">
    <ul class="header">
      {
        navigation.map(({ label, href }) => (
          <li>
            <a href={`#${href}`}>{label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  .header {
    list-style: none;
  }
</style>
