---
interface Props {
  title?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  id?: string;
}

const { title = "h2", id } = Astro.props;
const TagName = title;
---

<TagName id={id} class="title">
  <slot />
  <div class="title__decor">
    <slot name="image" />
  </div>
</TagName>

<style>
  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space24);

    /* desktop */
    @media (width >= 960px) {
      font-size: 44px;
    }

    /* widescreen */
    @media (width >= 1200px) {
      font-size: 54px;
    }

    & .title__decor {
      display: none;

      /* desktop */
      @media (width >= 960px) {
        display: revert;
      }

      &:empty {
        display: none;
      }
    }
  }
</style>
