---
import { Image } from "astro:assets";
import Title from "../../components/title.astro";
import decorImg from "../../assets/images/decor/useful.webp";
---

<div class="useful">
  <Title id="useful-title">
    Больше полезного о нас
    <Image slot="image" src={decorImg} width="145" height="145" alt="" />
  </Title>
</div>

<style>
  .useful {
  }
</style>
