---
import { Image } from "astro:assets";
import Title from "../../components/title.astro";
import decorImg from "../../assets/images/decor/useful.webp";
import Card, { type ICard } from "./card.astro";
import Container from "../../components/container.astro";
import img1 from "./assets/1.webp";
import img2 from "./assets/2.webp";
import img3 from "./assets/3.webp";
import img4 from "./assets/4.webp";

const cards: ICard[] = [
  {
    title: "обзор событий",
    description: "Здесь можно следить за новостями и важными анонсами",
    bg: {
      image: img1,
      position: "top right",
      size: "110px auto",
      sizeDesktop: "120px auto",
    },
    links: [
      {
        href: "https://u.internal.myteam.mail.ru/profile/AoK9p0bLa2d-DTgofQ",
        label: "Канал «Все по делу»",
      },
      {
        href: "https://docs.google.com/document/d/14AoT_7-WXG6C68YohZNaIGjI4upcdhAHIUIVFhCIiRg/edit?usp=sharing",
        label: "Календарь мероприятий",
      },
    ],
  },
  {
    title: "умный помощник Василиса",
    description:
      "Даст ответ по самым разным вопросам — от оформления отпуска до замены мышки",
    bg: {
      image: img2,
      position: "bottom left",
      size: "254px auto",
    },
    links: [
      {
        href: "https://u.internal.myteam.mail.ru/profile/support_bot",
        label: "Перейти",
      },
    ],
  },
  {
    title: "онбординг",
    description: "Мастхэв для новичков, чтобы адаптироваться в команде",
    bg: {
      image: img3,
      position: "bottom left",
      size: "172px auto",
      sizeDesktop: "255px auto",
    },
    links: [{ href: "#", label: "Перейти" }],
  },
  {
    title: "drop store",
    description: "магазин мерча для сотрудников нашей бизнес-группы",
    bg: {
      image: img4,
      position: "bottom left",
      size: "172px auto",
      sizeDesktop: "250px auto",
    },
    links: [{ href: "https://dropstore.home.vk.team/", label: "Перейти" }],
  },
];
---

<div class="useful" data-useful>
  <Container>
    <div class="useful__head" data-useful-head>
      <Title id="useful-title">
        <span class="useful__title">Больше полезного&nbsp;о&nbsp;нас</span>
        <Image
          slot="image"
          src={decorImg}
          class="title-img"
          width="145"
          height="145"
          layout="fixed"
          alt=""
          loading="lazy"
        />
      </Title>
    </div>

    <div class="useful__body" data-useful-body>
      {cards.map((card) => <Card card={card} />)}
    </div>
  </Container>
</div>

<style>
  .useful {
    --useful-head-top: calc(var(--header) + var(--space12));
    --useful-stack-top: calc(
      var(--header) + var(--space12) + 58px + var(--space16)
    );

    margin-top: calc(-1 * var(--section-gap));

    & .useful__title {
      letter-spacing: -1px;

      /* desktop */
      @media (width >= 960px) {
        letter-spacing: -1.2px;
      }

      /* widescreen */
      @media (width >= 1200px) {
        letter-spacing: -2px;
      }
    }

    .title-img {
      transform-origin: right top;
      transform: scale(0.75);

      /* widescreen */
      @media (width >= 1200px) {
        transform: scale(1);
      }
    }

    & .useful__body {
      display: grid;
      gap: var(--space16);
      margin-top: var(--space20);

      /* tablet */
      @media (width >= 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space20);
      }
    }

    @media (width < 768px) {
      & .useful__head {
        position: sticky;
        top: var(--useful-head-top);
        z-index: 10;
        padding-block: var(--space16);
      }

      & .useful__body {
        align-items: start;
      }

      & :global(.card) {
        position: sticky;
        top: var(--useful-stack-top);
      }
    }
  }
</style>
